<ion-view title="Informações" id="page8">
    <ion-content padding="true" class="has-header">
        
        <div class="card">
            <div class="row">
            <div class="col" style="text-align: center">
                <p><b>{{escola.nome}}</b></p>
            </div>
        </div>
            <div class="item-input-inset">
                <div class="col col-27"  style="text-align: right">
                    <b>Rede:</b>
                </div>
                <div class="col col-75">
                    {{escola.rede}}
                </div>
            </div>
            <div class="item-input-inset">
                <div class="col col-27"  style="text-align: right">
                    <b>Situação:</b>
                </div>
                <div class="col col-75">
                    {{escola.situacaoFuncionamento}}
                </div>
            </div>
            <div style="text-align: center" >                            
                <b>ENDEREÇO</b>
            </div>
            <div class="item-input-inset" >
                <div class="col col-27"  style="text-align: right"> 
                    <b>Descrição:</b>
                </div>
                <div class="col col-75">
                    {{escola.endereco.descricao}}
                </div>
            </div>
            <div class="item-input-inset" >       
                <div class="col col-27"  style="text-align: right">            
                    <b>CEP:</b>
                </div>
                <div class="col col-75">
                    {{escola.endereco.cep}}
                </div>               
            </div>
            <div class="item-input-inset" >
                <div class="col col-27"  style="text-align: right">  
                    <b>Bairro:</b>
                </div>
                <div class="col col-75">
                    {{escola.endereco.bairro}}
                </div>
            </div>                
            <div class="item-input-inset" >
                <div class="col col-27"  style="text-align: right">   
                    <b>Município:</b>
                </div>
                <div class="col col-75">
                    {{escola.endereco.municipio}}({{escola.endereco.uf}})
                </div>
            </div>             
            <!--<div class="item-input-inset" >
               <div class="col col-27"  style="text-align: right">        
                    <b>Estado:</b>
                </div> 
                <div class="col col-75">
                    {{escola.endereco.uf}}
                </div>           
            </div>-->
        </div>
    </ion-content>
</ion-view>