<ion-view title="Informações" id="page8">
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-divider">
                Nome: {{escolaObj}}
            </div>
            <div class="item-input-inset">
                Rede:
            </div>
            <div class="item-input-inset">
                Situação:
            </div>
            <div class="item-input-inset">                            
                Endereço:
            </div>
            <div class="item-input-inset">
                IDEB:                        
            </div>
        </div>
    </ion-content>
</ion-view>